.node {
  border: 1px solid rgb(100, 100, 100);
  width: 30px;
  height: 30px;
  display: inline-block;
  margin:0px;
  user-select: none;
  
}
.node img {
  width:100%;
  height:100%;
  transform: scale(1);
  user-select: none;
}
.node:hover {
  cursor: pointer;
  box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.3) inset;
}
.node_wall {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
}

.node_wall {
  animation-name: wall;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node_human {
  overflow: hidden;
  animation-name: human;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  border-color: transparent;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
}
@keyframes human {
  0% {
    border-radius: 40%;
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
	transform: scale(1);
  }
}

.node_zombie {
  animation-name: zombie;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
  overflow: hidden;
}
@keyframes zombie {
  0% {
    border-radius: 20%;
    transform: scale(2);

  }

  50% {
    transform: scale(1.3);
    
  }

  100% {
    transform: scale(1);
  }
}

.node_zombieSense {
  animation-name: zombieSense;
  animation-duration: 3.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node_dead_human {
  animation-name: deadHuman;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes deadHuman {
  0% {
    transform: scale(0.9);
    background-color: rgba(143, 199, 201, 1);
    border-radius: 30%;
  }
  25% {
    background-color: rgba(143, 199, 201, 0.5);
  }

  50% {
    background-color: rgba(201, 194, 191, 0.4);
  }
  75% {
    background-color: rgba(173, 128, 125, 0.3);
  }
  100% {
    background-color: rgba(99, 73, 73, 0.3);
    border-radius: 0%;
  }
}
.node_zombiePath {
  animation-name: zombiePath;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wall {
  0% {
    transform: scale(0.6);
    background-color: rgba(197, 197, 197, 0.9);
    border-radius: 100%;
  }

  25% {
    transform: scale(1.1);
    background-color: rgba(233, 233, 233, 0.9);
    border-radius: 10%;
  }

  50% {
    transform: scale(0.8);
    background-color: rgba(146, 146, 146, 0.9);
    border-radius: 20%;
  }
  100% {
    transform: scale(1);
    background-color: rgb(219, 219, 219);
    border-radius: 0;
  }
}
@keyframes zombiePath {
  0% {
    border-radius: 40%;
    transform: scale(0.9);
    background-color: rgba(255, 254, 106, 0.9);
    border-color: rgba(136, 136, 136, 0.5);
  }

  15% {
    border-radius: 10%;
    transform: scale(1.2);
    background-color: rgba(250, 250, 133, 0.7);
    border-color: rgba(247, 247, 247, 1);
  }
  25% {
    border-radius: 10%;
    transform: scale(1);
    background-color: rgba(219, 219, 89, 0.7);
    border-color: rgba(136, 136, 136, 0.3);
  }
  50%{
    border-radius: 10%;
    transform: scale(0.95);
    background-color: rgba(155, 155, 53, 0.7);
    border-color: rgba(136, 136, 136, 0.3);

  }
  100% {
    border-radius: 0;
    transform: scale(1);
    background-color: rgba(255, 254, 106, 0.3);
    border-color: rgba(136, 136, 136, 0);

  }
}
@keyframes zombieSense {
  0% {
    border-radius: 30%;
    transform: scale(0.4);
    background-color: rgba(125, 225, 102, 0.91);
  }
  15% {
    border-radius: 20%;
    transform: scale(1);
    background-color: rgba(125, 225, 102, 0.91);
  }
  25% {
    border-radius: 10%;
    transform: scale(1.1);
    background-color: rgba(190, 215, 184, 0.7);
  }

  35% {
    transform: scale(1.3);
    background-color: rgba(216, 219, 215, 0.5);
  }

  45% {
    transform: scale(1.2);
    background-color: rgba(213, 213, 213, 0.3);
  }
  75%{
   
      transform: scale(0.9);
      background-color: rgba(213, 213, 213, 0.1);
    
  }
  100% {
    transform: scale(1);
    background-color: rgba(213, 213, 213, 0.1);
  }
}
