.playground {
	grid-row: 3/4;
	grid-column: 2/3;
	width: 100%;
	
	margin: 0;

}



.toolButtonUp {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	text-decoration: none;
	padding: 0px 10px;
	text-align: center;
	margin: 0 5px;
	border-radius: 10%;
}


.toolButtonUp:hover {
	cursor:pointer;


}

.startButton {
	background-color: rgb(102, 165, 110);
	margin-left:15em;
	width:100px;
	color:rgb(255, 255, 255);
	font-weight:bold;
	padding:5px 10px;
	border:none;
	border-radius:5%;
	animation-name: start;
	animation-duration: 1s;
	animation-timing-function:linear;
	animation-delay: 0;
	animation-direction:alternate;
	animation-iteration-count: infinite;
	animation-fill-mode:forwards;
	animation-play-state: running;
	
}
@keyframes start {
	0% {
	  transform: scale(1.0);
	  background-color: rgb(102, 165, 110);
	}
	25% {
		background-color: rgb(102, 165, 110);
	}
	50% {
		
		background-color: rgb(102, 165, 110);
		box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.1) inset;
	}
  
	100% {
		background-color: rgb(118, 184, 127);
		
		box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5) inset;
	}
  }





.startButtonDown{
	background-color: rgb(60, 92, 64);
	margin-left:15em;
	width:100px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15) inset;
	color:rgb(202, 202, 202);
	font-weight:bold;
	padding:5px 10px;
	border:none;
	border-radius:5%;
}




.toolButtonDown, .toolButtonUp:active {
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 2px black inset;
	border-radius: 10%;
	color: rgba(255, 255, 255, 0.7);
	border: 1px solid white;
	text-decoration: none;
	padding: 0px 10px;
	text-align: center;
	margin: 0 5px;
}

.toolBoxTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 10px;
}

.row {
	display: block;
	height: 30px;
}

.gridContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	
}

.toolBar {
	height: 35px;
	display: flex;
	margin-bottom: 15px;
	flex-direction: row;
}

.addObjectToolBox {
	margin-left: 15em;
	height: 35px;
	display: flex;
	flex-direction: row;
}

.playGroundContent {
	display: flex;
	flex-direction: column;
	
	
}