.tutorialContainer{
    background-color:white;
    position:absolute;
    z-index: 999;
    border-radius: 1em;
    border:1px solid rgba(100,100,100);
    display:grid;
    grid-template-columns: 15px 1fr 15px;
    grid-template-rows: 15px 30px 1fr 4em 15px;
    color:rgb(20,20,20);
    text-align: center;
    animation-name: popUp;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    position:absolute;
}
@keyframes popUp {
    0% {
      opacity: 0;
      border-radius: 0.1em;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        border-radius: 1em;

    }
  }
.tutorialContentContainer p{
    padding:0 1em;
    font-family: arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    line-height: 1.5em;
    font-size:15pt;
}
.popUpPageNumber{
    grid-row:2/3;
    grid-column: 2/3;
    margin-right: 2em;
}
.popUpButton{
    background-color: rgb(59, 122, 46);
}

.PopUpBackGround{
    animation-name: popUpBackground;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    position:absolute;
    left:0;
    top:-50px;
    
    z-index: 998;
    position: relative;

    background-color: black;
}
@keyframes popUpBackground {
    0% {
      opacity: 0.1;
      
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.8;
    }
  }
.popUpButtonBar{
grid-column: 2/3;
grid-row:4/5;
display:flex;
flex-direction: row;
justify-content: flex-end;
}
.popUpButtonContainer{
margin:0px 1em;

}
.popUpButton:hover{
cursor:pointer;
box-shadow: 2px 2px 20px rgba(255,255,255,0.5) inset;

}
.tutorialContentContainer{
    grid-column: 2/3;
    grid-row:3/4;
}

.topBarContainer{
grid-row:2/3;
grid-column: 2/3;
width:100%;
height:100%;
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.exitIcon{
    color: rgb(45,45,45);
    width: 20px;
    height: 20px;
}
.exitIcon:hover{
cursor: pointer;  

}